#Education {
    /*needed to enable margin for the form*/
    padding-bottom: 1px;
    /* border: 1px solid rgba(0, 0, 0, 0); */
}

#Education:hover {
    background-color: antiquewhite;
    transition: background-color 400ms ease-in-out, border 400ms ease-in-out;
}

.education-title {
    display: flex;
    position: relative;
}

#add-education-button {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: #d0d0d0;
    height: 25px;
    border: none;
    width: 130px;
    border-radius: 25px;
    font-weight: 600;
}

@keyframes button-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#add-education-button:hover {
    background-color: #b9b8b8;
}

#add-education-button:active {
    background-color: #a5a5a5;
}

.education-form {
    display: flex;
    flex-direction: column;
    background-color: #add1f4;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    gap: 30px;
    padding-top: 5px;
}

#save-button,
#cancel-button {
    width: 80px;
    border-radius: 25px;
    height: 27px;
    font-weight: 600;
}

#save-button {
    background-color: #4c9af3;
}

#save-button:hover {
    background-color: #2682eb;
}

#save-button:active {
    background-color: #0675f4;
}

#cancel-button {
    background-color: #e66262;
}

#cancel-button:hover {
    background-color: #ed4242;
}

#cancel-button:active {
    background-color: #de3535;
}

label[for='institution-input'],
label[for='duration-input'] {
    padding-left: 2px;
    font-size: 1.2em;
}

/* BUTTON ANIMATIONS */
.edit-features-wrapper .delete-button,
#add-education-button {
    animation: button-fade-in 400ms ease-in-out;
}

.education-list {
    margin: 0px;
    /* background-color: wheat; */
}

.education-list-item {
    position: relative;
    margin-bottom: 10px;
}

.edit-features-wrapper .delete-button {
    position: absolute;
    top: 10px;
    right: 40px;
    border-radius: 100%;
    background-color: #c8c6c6;
    transition: background-color 300ms ease-in-out;
}

.edit-features-wrapper .delete-button:hover {
    background-color: #e66262;
}

.edit-features-wrapper .delete-button:active {
    background-color: #de3535;
}

.education-title {
    font-size: 1.7em;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.education-institution {
    font-size: 1.3em;
}

.education-duration {
    font-size: 0.9em;
}

.hidden {
    display: none;
}