.custom-object-view-form {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.custom-section-title-view {
    font-size: 1.7em;
    position: relative;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}