#CustomSection {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
}

.add-custom-section-button {
    height: 30px;
    min-width: 60%;
    border-radius: 5px;
    background-color: #b4f033;
    font-size: 1em;
    font-weight: 600;
    transition: background-color 400ms ease-in-out;
    margin-bottom: 20px;
}

.add-custom-section-button:hover {
    background-color: #9fcd3e;
}

.add-custom-section-button:active {
    background-color: #78a41b;
}

/* this class is added to `add-custom-section-button` when the Custom Form is displayed */
.close-custom-section-color {
    background-color: #de7979;
}

.close-custom-section-color:hover {
    background-color: #f25858;
}

.close-custom-section-color:active {
    background-color: #c84b4b;
}

/* Fade-in for add-custom-section-button */



.custom-section-form {
    border: 2px solid blue;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fdcaa3;
    margin-bottom: 20px;
}

.create-a-custom-section-title {
    font-size: 1.6em;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid black;
}

.custom-section-title {
    position: relative;
    margin-bottom: 15px;
}

.name-your-custom-section {
    margin: 0;
    font-size: 1.3em;
}

#this-field-cannot-be-empty {
    position: absolute;
    left: 0px;
    top: 45px;
    color: red;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 0px #de794d;
}

.fade-in-opacity {
    transition: opacity 400ms ease-in-out;
    opacity: 1;
}

.fade-out-opacity {
    transition: opacity 400ms ease-in-out;
    opacity: 0;
}

.create-custom-section-button {
    height: 30px;
    border-radius: 25px;
    background-color: #fbb127;
    font-weight: 600;
    transition: background-color 250ms ease-in-out;
}

.create-custom-section-button:hover {
    background-color: #fbcb71;
}

.create-custom-section-button:active {
    background-color: #edb142;
}

.custom-object-customization-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 10px;
    /* border: 2px solid red; */
}

#check-at-least-one-box {
    position: absolute;
    bottom: -17px;
    color: red;
    font-weight: 600;
    text-shadow: 0.5px 0.5px 0px #de794d;
}

.what-does-this-section-have-title {
    font-size: 1.3em;
    margin: 0;
    margin-bottom: 5px;

}

/* this selects the 'Title?', 'Institution?' and so on ... */
.custom-object-customization-wrapper label {
    font-size: 1.1em;
}

.custom-section-view {
    position: relative;
}

.custom-section-title-view {
    margin: 0;
}

.add-custom-NAME-button {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 0px;
    background-color: #d0d0d0;
    height: 25px;
    border: none;
    min-width: 130px;
    border-radius: 25px;
    font-weight: 600;
    border: 2px solid black;
    animation: button-fade-in 400ms ease-in-out;
}

@keyframes button-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.add-custom-NAME-button:hover {
    background-color: #b9b8b8;
}

.add-custom-NAME-button:active {
    background-color: #a5a5a5;
}

.custom-object-view-container {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

@media (max-width: 1450px) {
    .add-custom-NAME-button {
        left: 0px;
        top: -20px;
    }
}