.work-experience-form {
    display: flex;
    flex-direction: column;
}

.work-experience-title {
    background-color: grey;
    font-size: 2em;
    position: relative;
}

.hidden {
    display: none;
    background-color: red;
}

.add-button {
    position: absolute;
    left: 50%;
}