@media print {
    #App {
        print-color-adjust: exact;
    }
}

#App {
    background-color: whitesmoke;
    /* height: px; */
    width: max(600px, 60vw);
    margin: auto;
    display: flex;
    gap: 20px;
    box-shadow: 3px 3px 10px 0px #545454;
    margin-top: 20px;
}

/* this is covered by #PersonalDetails */
.side-bar {
    width: 300px;
    /* THIS IS ONE PAGE */
    min-height: 1055px;

    /* this is for TWO PAGES */
    /* min-height: 2110px; */
}

.main-content {
    width: calc(100% - 300px - 35px);
}

/* Targets add-button in CustomSection Component */
#App:hover .add-custom-section-button {
    animation: fade-in-custom-section-button 400ms ease-in-out;
}

@keyframes fade-in-custom-section-button {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}