@media print {
    #App {
        print-color-adjust: exact;
    }
}

#App {
    background-color: whitesmoke;
    width: 880px;
    margin: auto;
    display: flex;
    gap: 20px;
    box-shadow: 3px 3px 10px 0px #545454;
    margin-top: 20px;
    position: relative;
    
}

#page-break-indicator {
    position: absolute;
    top: 1132px;
    z-index: 2;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    font-weight: 600;
    background-color: rgba(84, 84, 84, 0.4);
    font-size: 0.7em;
    user-select: none;
    pointer-events: none;
    text-shadow: 1px 1px 2px black;
    animation: fade-in 400ms ease-in-out
}

#make-two-pages-cv-title {
    color: #63de05;
}

/* this is covered by #PersonalDetails */
.side-bar {
    width: 300px;
}

.one-page-height {
    min-height: 1132px;
}

.two-page-height {
    min-height: 2264px;
}

.main-content {
    width: calc(100% - 300px - 35px);
}

/* Targets add-button in CustomSection Component */
#App:hover .add-custom-section-button {
    animation: fade-in 400ms ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}