#Skills {
    transition: all 400ms ease-in-out;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

#Skills:hover {
    background-color: #e9cdf4;
}

.hidden {
    display: none;
}

.skills-title {
    font-size: 1.7em;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    position: relative;
}

.add-skill-button {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: #d0d0d0;
    height: 25px;
    border: none;
    width: 100px;
    border-radius: 25px;
    font-weight: 600;
    animation: button-fade-in 400ms ease-in-out;
}

@keyframes button-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.add-skill-button:hover {
    background-color: #b9b8b8;
}

.add-skill-button:active {
    background-color: #a5a5a5;
}

.skill-item {
    position: relative;
}

.skill-item:hover {
    background-color: #cd9ce2;
    transition: background-color 400ms ease-in-out;
}

.skill-item-title {
    font-size: 1.3em;
}

.delete-button {
    position: absolute;
    top: 10px;
    right: 40px;
    border-radius: 100%;
    background-color: #c8c6c6;
    transition: background-color 300ms ease-in-out;
}

.delete-button:hover {
    background-color: #e66262;
}

.delete-button:active {
    background-color: #de3535;
}

.skills-form {
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    background-color: #add1f4;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black;
}

/* IMPORTANT - these classes are also present in StyleWorkExperience.css, so it might clash - check beforehand */
.save-button,
.cancel-button {
    width: 80px;
    border-radius: 25px;
    height: 27px;
    font-weight: 600;
}

.save-button {
    background-color: #4c9af3;
}

.save-button:hover {
    background-color: #2682eb;
}

.save-button:active {
    background-color: #0675f4;
}

.cancel-button {
    background-color: #e66262;
}

.cancel-button:hover {
    background-color: #ed4242;
}

.cancel-button:active {
    background-color: #de3535;
}

@media (max-width: 1450px) {
    .add-skill-button{
        left:50px;
        top:-10px;
        border: 2px solid black;
    }

    .delete-button{
        top:0px;
        right: 0px;
    }
}