.custom-object-view-form {
    display: flex;
    flex-direction: column;
    background-color: #add1f4;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    border: 2px solid black
}

.custom-object-view-form label {
    font-size: 1.2em;
    /* DISPLAY is controlled by JSX */
    /* display: flex;  */
    flex-direction: column;
}

.custom-object-view-form-buttons-wrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding-top: 5px;
}

.view-label {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}