#PersonalDetails {
    background-color: #7ea2e4
}

.personal-details-form {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.address-form {
    display: flex;
    flex-direction: column;
}

.skills-form {
    display: flex;
    flex-direction: column;
}