#PersonalDetails {
    background-color: #aeede0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    border-right: 8px solid #302e2e;
    width: 100%;
}

.personal-details-form {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    /* background-color: aliceblue; */
    width: 100%;
    gap: 10px;
}

#ProfilePicture{
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-input-label-and-wrapper{
    /* background-color: #302e2e; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 1.5em;
    text-decoration: underline;
}

.profile-picture {
    margin-top: 20px;
    width: 130px;
    border: 2px solid red;
    /* border-radius: 100%; */
}

.name {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 1.7em;
}

.nameText-wrapper {
    width: 70%;
    text-align: center;
    display: inline-block;
    overflow-wrap: break-word;
}

.details {
    width: 100%;
    display: flex;
    /* background-color: #4466a4; */
    position: relative;
}

.details>img {
    padding-right: 10px;
    padding-left: 50px;
    width: 20px;
    height: 20px;
    position: relative;
    margin-right: 10px;
}

.details>.wrapper {
    width: 60%;
    display: inline-block;
    overflow-wrap: break-word;
}

#Address {
    margin-top: 30px;
    /* background-color: #4466a4; */
    width: 100%;
}

.address-form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    align-items: center;
}

#address-icon {
    width: 20px;
    position: absolute;
    margin-right: 10px;
    left: 70px;
}

.addressText-wrapper {
    text-align: left;
}

.hidden {
    display: none;
}
