.description-list {
    /* background-color: red; */
}

.description-list-item {
    display: block;
    width: 90%;
    overflow-wrap: break-word;
    /* border: 2px solid red; */
}

.description-form {
    display: flex;
    flex-direction: column;
    background-color: #c9f69e;
    border: 2px solid black;
    border-radius: 7px;
    padding: 20px;
    padding-top: 5px;
    margin: 5px;
}

.description-list-item::before {
    content: "";
    display: list-item;
    position: absolute;
    list-style-type: square;
}

/* htmlFor in React */
label[for="description-input"] {
    font-size: 1.1em;
    padding-left: 2px;
}

.remove-button {
    margin-left: 30px;
    border-radius: 5px;
    background-color: #cdcdcd;
    /* border: none; */
    transition: background-color 300ms ease-in-out;
    position: absolute;
    top: 1.5px;
}

.remove-button:hover {
    background-color: #e66262;
}

.remove-button:active {
    background-color: #de3535;
}

#add-description-button {
    align-self: center;
    margin-top: 10px;
    background-color: #77a2f1;
    width: 50%;
    height: 25px;
    border-radius: 25px;
    transition: background-color 300ms ease-in-out;
}

#add-description-button:hover {
    background-color: #518dfd;
}

#add-description-button:active {
    background-color: #347afd;
}

/* for border transition */
.description-list-item {
    /* border: 2px solid rgba(0,0,0,0); */
    /* border-radius: 5px; */
    height: 25px;
    position: relative;
}

.description-list-item:hover {
    /* border-color: rgba(0,0,0,1); */
    background-color: #a0e6f8;
    transition: all 300ms ease-in-out;
}